# Pycache files
*.pyc

# package information
*.egg-info/
dist/
.python-version

# build files
build/

# riscv opcodes
riscv_opcodes
riscv_opcodes/

#files from isac build
constants.py
rvopcodesdecoder.py